*
   margin: 0
   padding: 0

body
   width: 100%
   font-weight: 300
   font-family: $font2
   font-size: 16px
   letter-spacing: 2px
   background-color: #fff
   overflow-x: hidden

h1, h2, h3, h4, h5, h6
   font-family: $font2
   letter-spacing: 1px
   margin: 0

h1
   font-size: 62px

h2
   font-size: 62px

h3
   font-size: 60px

h4 
   font-size: 50px

h5
   font-size: 28px
   color: #333

a
   text-decoration: none
   color: $fcol

.container
   margin: 0 auto
   width: 100%
   max-width: 1250px

.grey-font
   color: #7a7a7a

button, input[type="submit"]
   color: white
   background-color: #333
   border: 0
   border-radius: 0
   height: 50px
   width: 300px
   font-family: inherit
   font-weight: 300
   font-size: 15px

.name
   h3
      font-size: 40px!important

// Header-main

.header
   &__inner
      display: flex
      justify-content: space-between
      color: #fff
      position: relative

.author
   display: flex
   align-items: center
   color: #333
   font-weight: 400
   text-transform: uppercase
   a
      &:hover
         color: #333!important

.menu
   display: flex
   flex-direction: column
   justify-content: flex-end
   padding-top: 70px
   padding-left: 50px
   &__item
      text-align: right
   &__close
      display: none
      margin-top: 50px
      border: 1px solid #926C5B
      padding: 5px 10px
   &__second
      grid-column: span 3

.modal
   &-header
      border: none
   &-title
      font-weight: 200

.empty-block
   width: 50vw

.hamburger
   display: none

// First-block start

.first-block
   display: grid
   grid-template-columns: 60% 40%
   &__wrapper
      margin: 0 3vw 0 7vw

// First-block end

// Offer

.offer
   height: 80vh
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
   .container
      position: relative
   &__text
      grid-column: span 2
   &__sup
      letter-spacing: 2px
   &__sub
      padding-top: 40px
      color: #333
      letter-spacing: 2px
   &__heading
      @include pt
      color: #333
      font-size: 40px
      font-weight: 400
      text-transform: uppercase
   &__btn
      margin-top: 40px

// Presentation, regular blocks

.presentation, .regular
   &__inner
      position: relative
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
      padding-top: 100px
   &__text
      letter-spacing: 2px
      p
         padding-top: 10px
   &__heading
      position: relative
      &:after
         position: absolute
         right: -270px
         top: 180px
         z-index: 100
         display: block
         content: ''
         background: #33333323
         height: 1px
         width: 300px
         transform: rotate(90deg)
   &__img
      display: flex
      justify-content: end
      background-color: #fff
      img
         width: 350px
      &--wrapper
         img
            width: 350px

//Presentation end

// Price-table start

.price
   &__name
      @include pt
   &__inner
      @include grid
      @include pt
   &__item
      display: flex
      flex-direction: column
      justify-content: center
      padding: 20px 30px
      box-shadow: 0px 0 9px #dcd9d9
      &:nth-child(2)
         border-color: blue
   &__heading
      text-align: center
   &__descr
      padding-top: 30px
   &__list
      padding-top: 30px
      padding-left: 0
      li
         position: relative
         padding-left: 25px
         padding-top: 10px
         &::before
            position: absolute
            top: 50%
            left: 0
            transform: translateY(-50%)
            display: block
            content: ''
            background: url('../img/dest/check.webp') center center/cover no-repeat
            height: 20px
            width: 20px
      &--wrapper
         display: flex
         justify-content: center
   &__number
      text-align: center
      font-size: 30px
      font-weight: 200
   &__ps
      padding-top: 30px
      text-align: center
      font-size: 30px

// Price-table end

// Brain start

.brain
   @include pt
   header
      font-size: 50px
      font-weight: 500
      text-transform: none
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
      gap: 30px
      @include pt
   &__heading
      position: relative
      text-transform: uppercase
      text-align: center
   &__text
      text-align: center
   &__line
      position: relative
      height: 150px
      &::after
         position: absolute
         top: 60%
         left: 50%
         transform: translateY(-50%) translateX(-50%) rotate(90deg)
         display: block
         content: ''
         background-color: $lightgray
         height: 1px
         width: 150px
   &__result
      // border: 1px solid #926c5b81
      border: 1px solid $lightgray
      border-radius: 20px
      // background-color: #926c5b1c
      padding: 20px
      margin-top: 50px

// Brain end

// Starter start

.starter
   @include pt
   &__heading
      font-size: 50px
      font-weight: 500
      text-align: center
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
      @include pt
   &__img
      img
         width: 500px
   &__materials
      display: flex
      flex-direction: column
      justify-content: center
   &__item
      padding-top: 30px


// Starter end

// About neuro - block

.neuro
   @include pt
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
   &__item
      border-right: 1px solid #33333323
      padding: 0 80px
      &:last-child
         border: 0
   &__about
      margin-top: 60px
      color: #333
      letter-spacing: 2px

// Target start

.target
   position: relative
   padding-bottom: 50px
   @include pt
   &::after
      display: block
      content: ''
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 0px
      height: 1px
      width: 60vw
      background: $lightgray
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
   &--second
      position: relative
      padding-top: 50px
      padding-bottom: 50px
      &::after
         display: block
         content: ''
         position: absolute
         left: 50%
         transform: translateX(-50%)
         bottom: 0px
         height: 1px
         width: 60vw
         background: $lightgray
   &__heading
      h4
         line-height: 30px
      &--sub
         font-size: 16px
         font-weight: 300
         letter-spacing: 5px
   &__toggle
      cursor: pointer
   &__open
      display: none
      padding-top: 20px
      transition: all .2s ease
      ol
         list-style-type: disc
      &--active
         display: block

// Target end

// Squared

.squared
   @include pt
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
      gap: 80px
   &__item
      background-color: #333
      padding: 0 40px
   &__heading
      padding-top: 40px
      color: #fff
   &__text
      position: relative
      margin-top: 20px
      padding: 20px 0
      color: #fff
      &::before
         position: absolute
         top: 0
         display: block
         content: ''
         height: 0.01em
         width: 100px
         background-color: #ffffff60
   &__button
      button
         margin: 40px 0
         width: 100%
         background-color: #fff
         color: #333

// About me start

.specialist
   @include pt
   &__inner
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
      gap: 50px
   &__img
      grid-column: span 1
      img
         width: 360px
   &__text
      grid-column: span 2
      p, ul
         padding-top: 10px
   &__education
      font-size: 16px
      h6
         padding-top: 10px
   &__socials
      display: flex
      justify-content: flex-start
      align-items: center
      border-top: 1px solid $lightgray
      margin-top: 30px
      svg
         width: 25px
         padding-top: -20px
         margin-right: 20px
         fill: #333
         &:last-child
            width: 33px

// About me end

// Youtube carousel start

.youtube
   padding-top: 40px
   &__heading
      font-size: 50px
      font-weight: 500
      text-align: center
   &__sub
      text-align: center
   &__wrapper
      padding-top: 50px
   &-carousel
      div
         iframe
            width: 350px
            height: 200px

// Youtube carousel end

// Site - footer start

.site-footer
   position: relative
   margin-top: 50px

// Site - footer end