// Media queries start

@media (max-width: 1024px)
   .container
      padding: 0
   .first-block
      overflow: hidden
      position: relative
      display: grid
      grid-template-columns: 1fr
      background: url('../img/dest/wowo2.webp') center center/cover no-repeat
      height: 550px
      &__wrapper
         margin-left: 3vw
      &__img
         display: none
   .header
      &__inner
         margin: 0 50px
      &__main
         padding-top: 50px
      &__nav
         text-align: right
         right: 0
   .author
      a
         color: #fff
   .menu
      position: fixed
      height: 100vh
      z-index: 200
      background-color: white
      top: 0
      right: 0
      align-items: flex-end
      justify-content: flex-start
      width: 80vw
      padding: 50px 50px
      transform: translateX(819px)
      transition: all .3s ease
      &__active
         display: flex!important
         transform: translateX(0px)
         &::before
            display: block
            content: ''
            position: absolute
            height: 2px
            width: 30px
            background-color: #fff
      &__close
         display: block
         color: #333
   
   .hamburger
      display: block
      position: absolute
      top: 50%
      right: 0px
      transform: translateY(-50%)
      height: 10px
      span
         display: block
         content: ''
         height: 2px
         width: 30px
         background-color: #fff
         margin-bottom: 2px
         transition: .4s all
         &:last-child
            margin-bottom: 0
      &__active
         span
            margin-bottom: -2px
            &:nth-child(1)
               transform: translateY(3px) rotate(-45deg)
            &:nth-child(2)
               display: none
            &:nth-child(3)
               transform: translateY(3px) rotate(45deg)
   .offer
      &__inner
         padding: 0 50px
      &__heading
         font-size: 25px
         padding-top: 100px
         color: #fff
      &__sub
         color: #fff
   .presentation, .regular
      &__inner
         grid-template-columns: 1fr
         padding: 30px 50px 0px
      &__heading
         &::after
            display: none
      &__text
         padding-top: 30px
      &__img
         justify-content: center!important
         padding: 50px 0 0
         img
            width: 100%
   .brain
      padding-top: 30px
      &__inner
         padding: 0 50px
         padding-top: 50px
      &__result
         margin: 0 50px
         margin-top: 50px
   .starter
      padding: 50px 50px 0
      &__inner
         grid-template-columns: 1fr
         padding-top: 50px
      &__materials
         padding-top: 50px
      &__item
         display: flex
         justify-content: center

   .neuro
      padding-top: 50px
      &__inner
         grid-template-columns: 1fr
      &__item
         border: none
         padding: 0 50px
   .target, .target--second
      padding: 0 50px 50px
   .target--second
      padding: 50px 50px 50px
   .youtube
      padding: 0 50px
      &__heading
         padding-top: 50px
      &__sub
         padding-top: 50px
      &-carousel
         div
            iframe
               width: 100%
               height: 100%
   .specialist
      &__inner
         padding: 0 50px
      &__img
         // grid-column: span 2
         justify-content: center
         img
            width: 300px

   .methodics
      &__wrapper
         padding-top: 30px
      &__slide, .slick-slide
         gap: 0
   .games
      &__inner
         padding: 0 50px
   .price
      &>.container
         padding: 0 50px
      &__inner
         padding-top: 30px
      &__name
         padding-top: 30px
   .accordion__wrapper
      padding: 0 50px
   .site-footer
      padding: 0 50px

@media(max-width: 768px)
   .header
      &__inner
         display: flex
         justify-content: space-between
         flex-wrap: wrap
      &__second
         a
            color: #333
   .offer
      &__inner
         grid-template-columns: 1fr
      &__text
         height: 315px
      &__img
         height: 400px
   .breadcrumbs
      padding-top: 30px
      &__item
         padding: 0 3px
         &--devider
            display: none
   .brain
      &__inner
         grid-template-columns: 1fr
   .target
      &__inner
         grid-template-columns: 1fr
      &__heading
         h4
            font-size: 30px
   .squared
      &__inner
         grid-template-columns: 1fr
         gap: 20px
   .specialist
      &__inner
         grid-template-columns: 1fr
      &__img
         grid-column: span 2
         img
            grid-column: span 2
   
@media(max-width: 426px)

   h1
      font-size: 30px

   h2
      font-size: 30px

   h3
      font-size: 25px

   h4 
      font-size: 20px

   h5
      font-size: 23px

   .author
      font-size: 12px
   .first-block
      background: url('../img/dest/wowo2.webp') center center/cover no-repeat
      // background-position-x: -9px
      // background-size: 400px
      height: 650px
   .specialist
      padding-top: 50px
      &__img
         justify-self: center
   .presentation, .regular
      &__img
         &--wrapper
            img
               width: 100%
   .neuro
      margin-bottom: 50px
@media (max-width: 375px)
   button
      width: 250px
   .offer
      height: 40vh
      &__heading
         padding-top: 100px
   .starter
      &__img
         margin: 0 auto
         img
            width: 200px
@media (max-width: 320px)
   .offer
      &__sub
         padding-top: 150px
// Media queries end