@media (max-width: 1024px)
   .methodics
      padding-top: 50px
      &__wrapper
         justify-content: center
      &__slide
         gap: 0
      &__text
         padding-left: 0
   .more
      margin-top: 30px
      &__list
         padding-top: 30px

// @media (max-width: 768px)