// Regular blocks / blocks start
.breadcrumbs
   &__inner
      display: flex
      justify-content: start
   &__item
      padding: 0 20px
      &:first-child, &:last-child
         padding: 0
.page
   &-heading
      color: #333
      font-size: 30px!important
      font-weight: 300!important
      text-transform: uppercase
      text-align: center
      @include pt
   &-button
      @include pt
      text-align: center

.hamburger-second
   display: none

.regular
   &__inner
      display: block
   &__img--wrapper
      display: flex
      justify-content: center
      width: 100%
      @include pt
      img
         width: 900px

.links
   hr
      margin-top: 50px
   &__heading
         padding-top: 50px
   &__text
      padding-top: 50px

//Regular pages / blocks end