// Regular blocks / blocks start
.breadcrumbs
   &__inner
      display: flex
      justify-content: start
   &__item
      padding: 0 20px
      &:first-child, &:last-child
         padding: 0
.page-heading
   color: #333
   font-size: 40px!important
   font-weight: 400!important
   text-transform: uppercase
   @include pt

.hamburger-second
   display: none

.regular
   &__inner
      display: block
   &__img--wrapper
      display: flex
      justify-content: center
      width: 100%
      @include pt
      img
         width: 900px
.links
   &__heading
         padding-top: 50px
   &__text
      padding-top: 50px

// Price-table start

.price
   &__inner
      @include grid
   &__item
      @include border

// Price-table end

//Regular pages / blocks end